= render partial: "layouts/useit"

.container
  .col-md-12.text-center.wrap_title

    #states
      - content_for :title do
        %title= "Find out what STDs you might be carrying from the privacy of your home"
      %h4 Get personal and discreet STD tests sent to your home
      %br

      %h2 Find discreet STD Tests in your state.
      %h3 States Listing
      - count = @states.count
      - third = (count / 3).floor
      .col-md-4
        %ul
          - states = @states[0...third]
          - states.each do |state|
            %li
              =link_to("#{state.state_full}, #{state.state_abbr}", "state/#{state.slug}")

              =state.state_full
      .col-md-4
        %ul
          - states = @states[third...third*2]
          - states.each do |state|
            %li
              =link_to("#{state.state_full}, #{state.state_abbr}", "state/#{state.slug}")

              =state.state_full
      .col-md-4
        %ul
          - states = @states[third*2..count]
          - states.each do |state|
            %li
              =link_to("#{state.state_full}, #{state.state_abbr}", "state/#{state.slug}")

              =state.state_full
      / %br{clear: "all"}
      / %hr.featurette-divider

      - content_for :footer do
        %footer=  "Copyright © 2015 stds.medical-dental-pros.com - Best Prices and Most Discreet. Find STD Testing in your state"

= render partial: "layouts/screenshot"
= render partial: "layouts/subscribe"
= render partial: "layouts/container_bullets"
= render partial: "layouts/container_drag_gallery"
