= render partial: "useit"
.container
  .col-md-10.col-md-offset-2.wrap_title

    - content_for :title do
      %title= "Discreet In-home STD tests in #{@city_zip_code.primary_city}, #{@city_zip_code.zip}"

    %h3
      =link_to "Order Now- Results in a Day or Two", @link_url, html_options: {target: "_blank"}

    - content_for :footer do
      %footer=  "Copyright © 2015 stds.medical-dental-pros.com - Best Prices and Most Discreet."

= render partial: "layouts/screenshot"
= render partial: "layouts/subscribe"
= render partial: "layouts/container_bullets"
= render partial: "container_health_message"
- content_for :javascript do
  = javascript_include_tag 'script'