/ Credits

#credits.content-section-a
  .container
    .row
      .col-md-6.col-md-offset-3.text-center.wrap_title
        %h2 Online STD Testing
        %br
      .col-sm-6.block.wow.bounceIn
        .row
          %a.unadorned_link{href: @link_url, target: "_blank"}
            .col-md-4.box-icon.rotate
              %i.fa.fa-credit-card.fa-4x
            .col-md-8.box-ct
              %h3 Affordable
              %p Competitive Prices- Multiple payment methods
      .col-sm-6.block.wow.bounceIn
        .row
          %a.unadorned_link{href: @link_url, target: "_blank"}
            .col-md-4.box-icon.rotate
              %i.fa.fa-map-marker.fa-4x
            .col-md-8.box-ct
              - if @city_zip_code
                %h3
                  = "Testing center neaer #{@city_zip_code.primary_city} #{@state.state_abbr}"
                %p
                  = "Convenient locations near #{@city_zip_code.primary_city} #{@city_zip_code.zip}, #{@city_zip_code.county} County, #{@state.state_full}"
              - elsif @state
                %h3
                  = "Multiple #{@state.state_full} Testing Centers"
                %p
                  = "Convenient locations in #{@state.state_full}"
              - else
                %h3 Over 4000 nationwide testing centers
                %p Convenient locations across the country.
              %p
    .row.tworow
      .col-sm-6.block.wow.bounceIn
        .row
          %a.unadorned_link{href: @link_url, target: "_blank"}
            .col-md-4.box-icon.rotate
              %i.fa.fa-check-square-o.fa-4x
            .col-md-8.box-ct
              %h3 FDA-Approved Tests
              %p The same tests used by doctors and hospitals
      .col-sm-6.block.wow.bounceIn
        .row
          %a.unadorned_link{href: @link_url, target: "_blank"}
            .col-md-4.box-icon.rotate
              %i.fa.fa-user-secret.fa-4x
            .col-md-8.box-ct
              %h3 Complete Confidentiality
              %p Results are only reported to you, not to your insurance company