/ Use it
#useit.content-section-a
  .container
    .row
      .col-sm-6.pull-right.wow.fadeInRightBig
        %img.img-responsive
          =image_tag("medical_report.jpg")
      .col-sm-6.wow.fadeInLeftBig{"data-animation-delay" => "200"}
        - if @city_zip_code
          %h3.section-heading
            Safe, Secure, & Reliable Testing in
            = @city_zip_code.zip
            %h5.section-heading
              = "#{@city_zip_code.primary_city}, #{@state.state_full}"
            %h5.section-heading
              = "#{@city_zip_code.county} County, #{@state.state_abbr}"
        - else
          %h3.section-heading
            Safe, Secure, & Reliable Testing
            = @state.try(:state_full) ? "in #{@state.state_full}" : "Nationwide"
        = render partial: 'layouts/fda_message'
        %p
          %a.btn.btn-embossed.btn-primary{href: @link_url, role: "button"} View Details
          %a.btn.btn-embossed.btn-info{href: @link_url, role: "button"} Visit Website