!!!
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/[if IE 9] <html class="no-js ie9" lang="en">
/ [if gt IE 9]><!
%html
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
    %meta{:content => "In-home medical testing to diagnose your STDs ", :name => "description"}
    %meta{:content => "", :name => "author"}

    = stylesheet_link_tag "application", :media => "all"

    - if content_for?(:title)
      = yield(:title)
    -else
      %title In-home medical testing to diagnose your STDs

    = csrf_meta_tags
    /
      [if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
      <![endif]


  %body#home
    #preloader
      #status

    -if params[:controller] == 'states' && params[:action] == 'show'
      = render partial: "layouts/header/header_banner"
      = render partial: "layouts/header/navbar_state"
    -elsif params[:controller] == 'city_zip_codes' && params[:action] == 'show'
      = render partial: "layouts/header/header_city"
      = render partial: "layouts/header/navbar_zip"
    - else
      = render partial: "layouts/header/header"
      = render partial: "layouts/header/navbar"
    = render partial: "layouts/whatis"

    = yield

    = render partial: "layouts/banner"
    = render partial: "layouts/credits"
    = render partial: "layouts/container_maps"

    = render partial: "layouts/footer"
    = render partial: "layouts/google_analytics"

    / Javascripts ==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
